<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
 #section1{
   padding-left: 2%;
   padding-right: 2%;
 }

#section2{
    display: flexbox;
    padding-left: 20%;
    padding-right: 20%;
    
}

#section3{
  display: block;
}

#section_name{
  display: inline-block;
  color: white;
  
  
}
#card_skills{
  margin-bottom: 4%;
}
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body>

<div class="w3-container">
  <div class="w3-bar w3-black w3-border ">

    <div id="section1">
    <a href="#" class="w3-bar-item w3-button w3-mobile">Quest Board</a>
    </div>

    <div id="section2">
    <input type="text" style="width: 40%;" class="w3-bar-item w3-input w3-white w3-mobile" placeholder="Search..">
    <button class="w3-bar-item w3-button w3-green w3-mobile"style="margin-right:30%;" >Search</button>
    </div>

    <div id="section3">
    <a href="#" class="w3-bar-item w3-button w3-mobile">Quest</a>
    <a href="#" class="w3-bar-item w3-button w3-mobile">About Us</a>
    </div>  
    <div id="section_name" class="w3-bar-item  w3-mobile" style="padding-left : 7%;" >
      Dang guitar
    </div>
  </div>

  <div>
      
  </div>
</div>
<!-- ------------------------------------------------------------------------------------------------------------------------------ -->

<div class="w3-content" style="max-width:1400px">

  <!-- Header -->
  <header class="w3-container w3-center w3-padding-32"> 
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL3HuLParu0YvWk_SS81-Pr85lNtXi26vDHw&usqp=CAU" width="25%">
  </header>
  
  <!-- Grid -->
  <div class="w3-row">
  
  <!-- Blog entries -->
  <div class="w3-col l8 s12">
    <!-- Blog entry -->
    <div class="w3-card-4 w3-margin w3-white" style="padding: bottom -0.5;" >
      <div class="w3-container">
        <h3><b>Skills</b></h3>
        <h5>Update lastest, <span class="w3-opacity">April 2, 2014</span></h5>
      </div>
  
      <div class="w3-container" id="card_skills">
        <p> <on class="w3-button w3-padding-large w3-blue w3-border"><b>Talkative</b></on>  
            <on class="w3-button w3-padding-large w3-blue w3-border"><b>Sex</b></on>
            <on class="w3-button w3-padding-large w3-blue w3-border"><b>Double</b></on>
            <on class="w3-button w3-padding-large w3-blue w3-border"> <span style="font-size: 20px;" class="glyphicon">&#xe081;</span></on>
        </p>  
      
      </div>
    </div>
    
  
    <!-- Blog entry -->
    <div class="w3-card-4 w3-margin w3-white">
      <div class="w3-container">
        <h3><b>Education</b></h3>
        <h5>Update lastest, <span class="w3-opacity">April 2, 2014</span></h5>
      </div>
  
      <div class="w3-container" style="padding-bottom: 5%;">
        <h4><b>Oxford University</b></h4>
        <h5><span class="w3-opacity"> Jan 2000 - Feb 2001</span></h5>
        <li>
          Department of ______
        </li>
        <h4><b>Cambridge University</b></h4>
        <h5><span class="w3-opacity"> Jan 2002 - Feb 2003</span></h5>
        <li>
          Department of ______
        </li>
      </div>
    </div>

    
  <!-- END BLOG ENTRIES -->
  </div>
  
  <!-- Introduction menu -->
  <div class="w3-col l4">
    <!-- About Card -->
    <div class="w3-card w3-margin w3-margin-top">
      <div class="w3-container w3-white">
        <h4><b>Dang guitar</b></h4>
        <p>Ez mid noob go delete dota</p>
      </div>
    </div><hr>
    
    <!-- Posts -->
    <div class="w3-card w3-margin" style="padding-bottom: 5%;">
      <div class="w3-container w3-padding">
        <h3><b>Experience</b></h3><br>

        <h4><b>Demonstate</b></h4>
        <h5><span class="w3-opacity"> Jan 2002 - Feb 2003</span></h5>
        <li>
          detail
        </li>
        <h4><b>Demonstate</b></h4>
        <h5><span class="w3-opacity"> Jan 2002 - Feb 2003</span></h5>
        <li>
          detail
        </li>





      </div>
      
    </div>
     
   
    <!-- Contact -->
    <div class="w3-card w3-margin">
      <div class="w3-container w3-padding">
        <h3><b>Contact</b></h3>
      </div>
      <div class="w3-container w3-white">
      <p style="font-size: 10px;">
      <div>E-mail : กระตุกจิตกระชากใจ@hotmail.com </div>
      <div>Tels     : 077777777777777 </div>    
      </p>
      </div>
    </div>
    
  <!-- END Introduction Menu -->
  </div>
  
  <!-- END GRID -->
  </div><br>
  
  <!-- END w3-content -->
  </div>















</body>
</html>
